# C++
build/
*.o
*.obj
*.exe
*.out
*.a
*.so


# macOS/Linux/Windows temp files
.DS_Store
Thumbs.db

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Python interface (if added)
__pycache__/
*.pyc
*env/
.venv/
.env

# IDEs
.vscode/
.idea/
